esphome:
  name: levelsensor
  platform: ESP8266
  board: esp01_1m

wifi:
  ssid: "van_wifi"
  password: "applesauce"

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Level Sensor Fallback Hotspot"
    password: "DjeUUbcMRzws"

captive_portal:

# Enable logging
logger:

# Enable Home Assistant API
api:

ota:

i2c:
  sda: 2
  scl: 14

sensor:
  - platform: mpu6050
    address: 0x68
    update_interval: 200ms
    accel_x:
      name: "MPU6050 Accel X"
    accel_y:
      name: "MPU6050 Accel Y"

